<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/main/<%="#{@year}-#{@month}-#{@day}"%>" class="w3-bar-item w3-button w3-padding-large w3-theme-d4" title="Home"><i class="fa fa-book w3-margin-right"></i>Diary for <%= @username %></a>
  <a class="w3-bar-item w3-hide-small w3-padding-large" title="Year, Month"><%= @year%>년 <%= @month%>월</a>
  <a class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white signout" title="Sign Out">Sign Out<i class="fa fa-sign-out w3-margin-left"></i></a>
 </div>
</div>

<!-- Navbar on small screens -->
<div id="nav" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="/main" class="w3-bar-item w3-button w3-padding-large w3-theme-d4" title="Home"><i class="fa fa-book w3-margin-right"></i>Diary for <%= @username %></a>
  <a class="w3-bar-item w3-button w3-padding-large signout" title="SignOut"><i class="fa fa-sign-out w3-margin-right"></i>Sign Out</a>
</div>
<!--// Complete work for menu -->

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:70px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">
             <% if @day != @firstDate %>
                 <a href="/main/<%="#{@year}-#{@month}-#{@day.to_i-1}"%>"><i class="fa fa-chevron-left w3-margin-right"></i></a>
             <% end %>
             <%= @day%>일
             <% if @day != @lastDate %>
                 <a href="/main/<%="#{@year}-#{@month}-#{@day.to_i+1}"%>"><i class="fa fa-chevron-right w3-margin-left"></i></a>
             <% end %>
         </h4>
         <p class="w3-center">오늘의 목표</p>
         <hr>
            <% 
                if @goal.kind_of?(Array)
                    @goal.each do |g|
            %>
                    <p><i class="fa fa-hashtag fa-fw w3-margin-right w3-text-theme"></i> <%= g %></p>
            <% 
                    end
                else 
            %>
                <p><i class="fa fa-hashtag fa-fw w3-margin-right w3-text-theme"></i> <%= @goal %></p>
            <% end %>
        </div>
      </div>
      <br>
      
      <div class="w3-card-2 w3-round">
        <div class="w3-white">
		  <div class="w3-container w3-blue-grey">
          <h6 class="w3-block w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</h6>
		  </div>
          <div id="events" class="w3-container">
            <% if @sc.kind_of?(Array) %>
                <% @sc.each do |sc| %>
                      <p><i class="fa fa-tag w3-margin-right"></i><%= sc[:title]%></p>
                <% end %>
            <%else%>
                  <p><i class="fa fa-tag w3-margin-right"></i>Welcome</p>
            <% end %>
          </div>
        </div>      
      </div>
      <br>
      
      <!-- Graph of week --> 
      <div class="w3-card-2 w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Graph is about goal of this week</p>
          <div class="w3-light-grey w3-round w3-large w3-margin-top w3-margin-bottom">
			  <div id="point" class="w3-container w3-text-deep-orange w3-round w3-blue-grey" style="width:<%= @scheduleRate%>%"><%= @scheduleRate%>%</div>
		  </div>
        </div>
      </div>
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m6">
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Registering to schedule</h6>
			<!-- Form is related registering to schedule -->
              <%= form_for(@schedule, url: "/newSchedule", html: { method: :post, class: "w3-contatiner w3-margin-left w3-margin-right"}) do |f| %>
      				<p>
      					<%= f.label :title, 'Simple title' %>
      					<%= f.text_field :title, class: "w3-input w3-hover-shadow", placeholder: "Input the simple title of schedule" %>
      				</p>
      				<p>
      				    <%= f.label :content, 'Content' %>
      				    <%= f.text_field :content, class: "w3-input w3-hover-shadow", placeholder: "Input the content of schedule" %>
      				</p>
      				<p class="w3-cell-row">
      					<label class="w3-cell">Schedule Time</label>
      					<input id="startTime" class="sTime w3-input w3-cell w3-hover-shadow" type="text" placeholder="Start Time" readonly/>
      					<label class="w3-cell">to</label>
      					<input id="endTime" class="sTime w3-input w3-cell w3-hover-shadow" type="text" placeholder="End Time" readonly/>
      					<%= f.hidden_field :times %>
      					<%= f.hidden_field :day, value: "#{@year}-#{@month}-#{@day}" %>
      				</p>
      				<p>
      					<button id="scheduleSubmit" type="button" class="w3-button w3-theme w3-right"><i class="fa fa-pencil"></i> Addition</button>
      				</p>
      			  <% end %>
            </div>
          </div>
        </div>
      </div>
      <% if @sc.kind_of?(Array) %>
          <% @sc.each do |sc| %>
                <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
                      <span class="w3-right w3-opacity"><%= sc[:times]%></span>
                  <h4><%= sc[:title]%></h4>
                  <hr class="w3-clear">
                  <p><%= sc[:content]%></p>
                  <% if !sc[:check] %>
                    <%= link_to raw('<i class="fa fa-check-square-o"></i>'), "saveCheck/#{sc[:id]}", method: :post, class: "w3-button w3-theme-d1 w3-margin-bottom w3-right", title: "Complete Check" %>
                    <%= link_to raw('<i class="fa fa-times"></i>'), "deleteSchedule/#{sc[:id]}/#{sc[:day]}", method: :delete, class: "w3-button w3-red w3-margin-bottom w3-right", title: "Delete" %>
                    <a onClick="modalPopup('<%=sc[:id]%>', '<%= sc[:times]%>', '<%= sc[:title]%>', '<%= sc[:content]%>');" type="button" class="w3-button w3-green w3-margin-bottom w3-right" title="Edit" ><i class="fa fa-pencil"></i></a> 
                  <% end %>
                </div>
          <% end %>
      <% end %>
      
    <!-- Edit form for each schedule -->
      <div id="editModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-card-4">
          <header class="w3-container w3-blue-grey"> 
            <span onclick="document.getElementById('editModal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h2>Edit</h2>
          </header>
          <div class="w3-container">
            <%= form_tag("/updateSchedule", method: :patch, id: "updateSchedule", class: "w3-contatiner w3-margin-left w3-margin-right") do %>
              <p><%= hidden_field_tag "editId", "", id: "editId" %></p>
      				<p>
      					<%= text_field_tag "editTitle", "", id: "editTitle", class: "w3-input w3-hover-shadow", placeholder: "Input the simple title of schedule" %>
      				</p>
      				<p>
    				    <%= text_field_tag "editContent", "", id: "editContent", class: "w3-input w3-hover-shadow", placeholder: "Input the content of schedule" %>
      				</p>
      				<p class="w3-cell-row">
      					<label class="w3-cell">Schedule Time</label>
      					<input id="editStartTime" class="sTime w3-input w3-cell w3-hover-shadow" type="text" placeholder="Start Time" readonly/>
      					<label class="w3-cell">to</label>
      					<input id="editEndTime" class="sTime w3-input w3-cell w3-hover-shadow" type="text" placeholder="End Time" readonly/>
      					<%= hidden_field_tag "editTimes", "", id: "editTimes" %>
      				</p>
    			  <% end %>
          </div>
          <footer class="w3-container w3-blue-grey">
            <button id="editSubmit" type="button" class="w3-button w3-theme w3-right"><i class="fa fa-pencil"></i> Save</button>
          </footer>
        </div>
      </div>
      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m3">
		<div class="w3-card-2 w3-round w3-white w3-center">		
		  <%= form_tag("/newDiary", method: :post, id: "newDiary") do %>
				<div class="w3-container">
				  <h6><strong>Diary</strong></h6>
				  <% if @diary.nil? %>
				      <p><%= text_area_tag "diary", "#{@diary}", id: "diary", class: "w3-input w3-hover-shadow", rows: 5, cols: 120, style: "resize:none;", placeholder: "Please input the comment about today."%></p>
				  <% else %>
				      <p><%= @diary %></p>
				  <% end %>
				</div>
				<hr>
				<div class="w3-container">
					<div class="w3-bar">
						<span>Goals of tomorrow</span>
						<a id="addGoal" class="w3-button" title="Add more the goal of tomorrow"><i class="fa fa-plus"></i></a>
					</div>
					<div class="goalsWrap">
					  <%= text_field_tag "", "", class: "w3-input w3-hover-shadow goals", placeholder: "goal" %>
					</div>
				</div>
				<%= hidden_field_tag "goals", "", id: "goals" %>
				<%= hidden_field_tag "score", "0", id: "score" %>
			<% end %>
		    <button id="saveDiary" class="w3-button w3-green w3-section w3-center" title="Save"><i class="fa fa-check w3-margin-right"></i>Save</button>
    </div>
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- 시간 남으면 하자 -->
<!--
	<footer class="w3-container w3-theme-d5">
	  <p class="w3-right">Created by DarkClouds</p>
	</footer>
-->
<script>
	// Used to toggle the menu on smaller screens when clicking on the menu button
	function openNav() {
		var x = document.getElementById("nav");
		if (x.className.indexOf("w3-show") == -1) {
			x.className += " w3-show";
		} else { 
			x.className = x.className.replace(" w3-show", "");
		}
	}

	var startTimeDialog = new mdDateTimePicker.default({
	  type: 'time'
	});
	startTimeDialog.time = moment();
	var startTime = document.getElementById('startTime');
	startTimeDialog.trigger = startTime;
	startTime.addEventListener('click', function() {
		startTimeDialog.toggle();	
	});
	startTime.addEventListener('onOk', function() {
		this.value = moment(startTimeDialog.time.toString(), "ddd MMM D YYYY HH:mm:ss ").format("A HH:mm");
	});


	var endTimeDialog = new mdDateTimePicker.default({
	  type: 'time'
	});
	endTimeDialog.time = moment();
	var endTimeToggle = document.getElementById('endTime');
	endTimeDialog.trigger = endTime;
	endTimeToggle.addEventListener('click', function() {
	  endTimeDialog.toggle();
	});
	endTimeToggle.addEventListener('onOk', function() {
	  this.value = this.value = moment(endTimeDialog.time.toString(), "ddd MMM D YYYY HH:mm:ss ").format("A HH:mm");
	});
	
	var editStartTimeDialog = new mdDateTimePicker.default({
	  type: 'time'
	});
	editStartTimeDialog.time = moment();
	var editStartTime = document.getElementById('editStartTime');
	editStartTimeDialog.trigger = editStartTime;
	editStartTime.addEventListener('click', function() {
		editStartTimeDialog.toggle();	
	});
	editStartTime.addEventListener('onOk', function() {
		this.value = moment(editStartTimeDialog.time.toString(), "ddd MMM D YYYY HH:mm:ss ").format("A HH:mm");
	});


	var editEndTimeDialog = new mdDateTimePicker.default({
	  type: 'time'
	});
	editEndTimeDialog.time = moment();
	var editEndTimeToggle = document.getElementById('editEndTime');
	editEndTimeDialog.trigger = editEndTime;
	editEndTimeToggle.addEventListener('click', function() {
	  editEndTimeDialog.toggle();
	});
	editEndTimeToggle.addEventListener('onOk', function() {
	  this.value = this.value = moment(editEndTimeDialog.time.toString(), "ddd MMM D YYYY HH:mm:ss ").format("A HH:mm");
	});

//When clicked, pop-up modal content
  function modalPopup(id, times, title, content){
	  document.getElementById('editModal').style.display='block';
	  $('#editId').val(id);
	  $('#editTitle').val(title);
	  $('#editContent').val(content);
	  var time = times.split("~");
	  $('#editStartTime').val(time[0]);
	  $('#editEndTime').val(time[1]);
	}

// Get the modal
  var modal = document.getElementById('editModal');
// When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }


	$(document).ready(function(){
		
		$('#addGoal').click(function(){
			$('.goalsWrap').append('<input type="text" name="" id="" value="" class="w3-input w3-hover-shadow goals" placeholder="goal">');
		});
		
		$('.signout').click(function(){
		    Kakao.Auth.logout(function(){
            window.location = "/";
        });
		});
		
		$('#scheduleSubmit').click(function(){
		    if ( $('#schedule_title').val() == "" || $('#schedule_content').val() == "" || $('#startTime').val() == "" || $('#endTime').val() == "" ){
		        alert("스케줄 입력에 공백이 있습니다.");
		    } else {
		        var times = $('#startTime').val() + "~" + $('#endTime').val();
		        $('#schedule_times').val(times);
		        $("#new_schedule").submit();
		    }
		});
		
		$('#editSubmit').click(function(){
		  if ( $('#editTitle').val() == "" || $('#editContent').val() == "" || $('#editStartTime').val() == "" || $('#editEndTime').val() == "" ){
        alert("스케줄 입력에 공백이 있습니다.");
		  } else {
        var times = $('#editStartTime').val() + "~" + $('#editEndTime').val();
        $('#editTimes').val(times);
        $("#updateSchedule").submit();
		  }
		});
		
		$('#saveDiary').click(function(){
		  var point = $('#point').text().split('%');
		  $('#score').val(point[0]);
		  $('#diary').val();
		  
		  var goalTomorrow = $('.goals');
		  var goals = "";
		  jQuery.each(goalTomorrow, function(index, v){
  		    goals += v.value + "!";
		  });
		  
		  $('#goals').val(goals);
		  
		  if( $('#diary').val() == "" || $('#goals').val() == "!"){
		    alert("일기 또는 내일 목표가 입력되지 않았습니다.");
		  } else {
		    $('#newDiary').submit();
		  }
		  
		});
		
	});
</script>